.comments{
    display: flex;
    flex-direction: column;
    

    &__image{
        min-width: 3rem;
        min-height: 3rem;
        max-width: 3.001rem;
        max-height: 3.001rem;
        border-radius: 55%;
        background-color: gray;
    }

    &__input{
        background-color: #FAFAFA;
        // border-color: #AFAFAF;
        border: 2px solid #AFAFAF;
        border-radius: 5px;
        color: black;

    }

    &__button{
        background-color: #0095ff;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        width: 15rem;
        height: 3.3rem;
        
    }

    &__usrName{
        font-weight: bolder;
    }
}