@import './Partials//mixins';
@import './Partials//typography';
@import './Partials//variables';

html{
    // overflow: hidden;
    font-weight: normal;
    font-family: "Avenir", "Roboto", sans-serif;
}
.header{
    width: 100%;
}
.SideVideo{
    @include desktop{
        // float: right;
        // margin: -47.3rem -3rem 0rem 0rem;
        padding: 2rem 0rem 0rem 0rem;
        border-left: 1.2px solid #e1e1e1;
        // border-right: 5px dashed fuchsia;
    }
}