.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    // justify-content: space-evenly;
    // background-color: lightpink;
    width: 90%;
    height: 9rem;
    margin: 0rem;
    padding: 0rem;

    &__logo{
        display: flex;
        // justify-self: flex;
        align-self: center;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 2.5rem;
        margin: 1rem 0rem 1rem 0rem;
        padding: 0rem;

        
    }

    &__rightSide{
        display: flex;
        // justify-self: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    &__textSearchBox{
    width: 15rem;
    height: 1rem;
    margin: 0rem 0.8rem 0rem 0.8rem;
    padding: 0.9rem;
    display: flex;
    align-self: center;
    border-color: #e1e1e1;
    background-color: #fafafa;
    border: 1.3px solid #e1e1e1;
    border-radius: 5px;
    }

    &__uploadButton{
    width: 15em;
    height: 3rem;
    margin: 1rem;
    color: white;
    background-color: #0095ff;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    }

    
    &__avatar{
    background-color: grey;
    height: 3rem;
    width: 3rem;
    border-radius: 55%;
    margin: 1rem 0rem 0rem 0rem;
    }           
    
}