.header{
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    background-color: lightpink;
    width: 100%;
    height: 9rem;

    &__logo{
        display: flex;
        justify-self: flex;
        align-self: center;
        width: 100%;
        margin: 1rem 2rem 1rem 2rem;
        padding: 0rem;
    }

    &__rightSide{
        display: flex;
        // justify-self: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    &__textSearchBox{
    width: 90%;
    height: 1rem;
    align-self: center;
    }

    &__uploadButton{
    width: 15em;
    height: 3rem;
    margin: 1rem;
    }

    
    &__avatar{
    background-color: grey;
    height: 3rem;
    width: 3rem;
    border-radius: 55%;
    margin: 1rem 1rem 1rem 0rem;
    }           
    
}