@import '../../styles/appStylz.scss';
.SideVideo{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
width: 100%;
list-style: none;
padding: 0rem;
@include desktop{
    width: 29.5%;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}
&__sectionTitle{
    margin: 0rem 1rem 3rem 1rem;
    padding: 0rem;
    text-align: left;
    display: flex;
    align-self: flex-start;
    color: #afafaf;
    @include tablet{
        font-size: 0.7rem;
        margin: 0rem 1rem 2rem 1rem;
}}
&__card{
    width: 100%;
    height: 5.5rem;
    padding: 0rem;
    margin: 0rem 1rem 1rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include tablet{
        margin: 0rem 1rem 0rem 1rem;
        height: 5.8rem;
    }}
&__image{
    width: 7.7rem;
    height: 4.8rem;
    border-radius: 5px;
    margin: 0rem 1rem 0rem 0rem;
    @include tablet{
        height: 4.3rem;
        width: 7.1rem;
        margin: 0rem 1rem 0rem 0rem;
    }}
&__title{
    font-weight: bolder;
    width: 11.1rem;
    height: 2.2rem;
    margin: 0rem;
    @include tablet{
        font-size: 0.9rem;
    }}
&__author{
    display: flex;
    width: 9rem;
    margin: 1rem 0rem 1rem 0rem;
    @include tablet{
        font-size: 0.9rem;
    }}
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}