@font-face {
    font-family: Avenir;
    src: url("/Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");

    font-family: Roboto;
    src: url(/Assets/Roboto/Roboto-Regular.ttf);

    font-family: sans-serif;


}  