@import '../../styles/appStylz.scss';

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 11rem;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem;
    @include tablet {
        display: flex;
        flex-direction: row;
        height: 4.2rem;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__logo{
        display: flex;
        align-self: center;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 2.5rem;
        margin: 1rem 0rem 1rem 12rem;
        padding: 0rem;
        @include tablet{
            display: flex;
            justify-self: start;
            align-self: start;
            margin: 1.5rem 0rem 0rem 1.5rem;
        }
        @include desktop{
            display: flex;
            justify-self: flex-start;
            margin: 1.5rem 1rem 1rem 0rem;
        }
    }

    &__searchBoxContainer{
        // border: 2px solid blue;
        margin: 0;
    }

    &__searchBoxMagGlass{
        background-image: url(../../assets//icons/SVG/Icon-search.svg);
        background-repeat: no-repeat;
        min-height: 3rem;
        min-width: 3.2rem;
        margin: -10rem 0rem 0rem 1.99rem;
        padding: -10rem 0rem 0rem 1rem;
        @include tablet{
            padding: 0rem 0rem 0rem -2rem;
            margin: -2.3rem 0rem 0rem 0.7rem;
        }
        }

    &__textSearchBox{
    width: 15rem;
    height: 1rem;
    margin: 0rem 0.8rem 0rem 1.5rem;
    padding: 1rem 1rem 1rem 1.9rem;
    display: flex;
    align-self: center;
    flex-direction: row;
    border-color: #e1e1e1;
    background-color: #fafafa;
    border: 1.3px solid #e1e1e1;
    border-radius: 5px;
    background-image: "../../../assets/icons/PNG/Icon-search.png";
    background-position: center;
    @include tablet{
        margin: 0.8rem 0rem 0rem 0rem;
        width: 13.0rem;
        padding: 1.0rem 0rem 1rem 2rem;
    }
    @include desktop{
        width: 20rem;
        padding: 0.8rem;
    }}
    &__rightSide{
        display: flex;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: -1rem 0rem 1rem 3.2rem;
        @include tablet{
            width: 35rem;
            height: 3rem;
            margin: 0.6rem 0rem 1rem 0rem;
        }}
    &__uploadButton{
    width: 13rem;
    height: 3.4rem;
    margin: 0.5rem 1.2rem 1rem 0rem;
    color: white;
    background-color: #0095ff;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    @include tablet{
        width: 7rem;
        margin: 0.5rem 1rem 0rem 1rem;
        height: 3.0rem;
    }
    @include desktop{
        width: 6rem;
        height: 2.5rem;
        margin: 0.8rem;
    }}
    &__avatar{
    background-color: grey;
    height: 3rem;
    width: 3rem;
    border-radius: 55%;
    margin: 0.5rem 0rem 0rem 0rem;
    @include tablet{
        margin: 0.5rem 0rem 0rem 0rem;
    }}}