@import '../../styles/appStylz.scss';

.UploadComponent{
width: 99%;
display: flex;
flex-direction: column;
align-content: center;
margin: 0 auto;
padding: 0 auto;

&__sectionTitle{
    border-top: 1px solid #e1e1e1;
    padding: 1.8rem 0rem 1rem 1.5rem;
    margin: 1rem 0rem 1rem 0em;
    font-size: 1.5rem;
    font-weight: 800;
}

&__videoAreaTitle{
    display: flex;
    align-self: center;
    color: #afafaf;
    font-size: 0.8rem;
    margin: 1rem 0rem 0rem 1.5rem;
    @include tablet{
        border-top: 1px solid #e1e1e1;
    }
}

&__yourVideoImage{
    width: 18rem;
    border-radius: 5px;
    margin: 0.3rem 0rem 1rem 1.5rem;
     
}

&__yourVideoTitle{
    color: #afafaf;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1rem 0rem 0.3rem 1.5rem;
}

&__yourTitleInput{
    padding: 1rem 1rem 1rem 0.8rem;
    border:1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0rem 0rem 1rem 1.5rem;
    width: 16rem;
}

&__yourVideoDescriptionTitle{
    color: #afafaf;
    margin: 0rem 0rem 0rem 1.5rem;
    font-size: 0.8rem;
}

&__yourVideoDetailsInput{
    padding: 0.8rem 0rem 6.2rem 0.8rem;
    margin: 0rem 0rem 2rem 1.5rem;
    border:1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0.5rem 0rem 1rem 1.5rem;
    width: 17rem;
    font-family: 'Avenir', 'Roboto', sans-serif;
    color: blue;
    font-weight: 500;
}

&__publishButton{
    width: 18rem;
    margin: 0.5rem 0rem 0rem 1.5rem;
    height: 2.8rem;
    color: white;
    background-color: #0095FF;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

&__cancelButton{
    width: 18rem;
    height: 2.5rem;
    color: #0095FF;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin: 1rem 0rem 0rem 1.5rem;
}
}