@import '../../styles/appStylz.scss';

.UploadComponent{
width: 99%;
display: flex;
flex-direction: column;
align-content: center;
margin: 0 auto;
padding: 0 auto;

&__sectionTitle{
    border-top: 1px solid #e1e1e1;
    padding: 1.8rem 0rem 1rem 1.5rem;
    margin: 1rem 0rem 1rem 0em;
    font-size: 1.5rem;
    font-weight: 800;
    width: 18.5rem;
    @include tablet{
        font-size: 2rem;
        width: 100%;
    }
    @include desktop{
        width: 100%;
        display: flex;
        align-self: center;
        padding: 2rem 0rem 1rem 9rem;
    }
}

&__videoAreaTitle{
    display: flex;
    align-self: center;
    color: #afafaf;
    font-size: 0.8rem;
    margin: 1rem 0rem 0rem 1.5rem;
    @include tablet{
        border-top: 1px solid #e1e1e1;
        width:94%;
        padding: 3rem 0rem 0rem 0rem;
    }
    @include desktop{
        margin: 1rem 0rem 0rem 9rem;
        padding: 2rem 0rem 0rem 0rem;
        width: 75%;
    }
}

&__yourVideoImage{
    width: 18rem;
    border-radius: 5px;
    margin: 0.3rem 0rem 1rem 1.5rem;
     @include tablet{
         width: 22rem;
     }
     @include desktop{
         padding: 0rem 0rem 0rem 7.7rem;
         width: 18rem;
         border-radius: 5px;
     }
}

&__yourDesktopContainer{
    @include desktop{
        display: flex;
        flex-direction: column;
        margin: -13rem 0rem 0rem 27rem;

    }
}

&__yourVideoTitle{
    color: #afafaf;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1rem 0rem 0.3rem 1.5rem;
}

&__yourTitleInput{
    padding: 1rem 1rem 1rem 0.8rem;
    border:1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0rem 0rem 1rem 1.5rem;
    width: 16rem;
    @include tablet{
        width: 88%;
    }
    @include desktop{
        width: 35rem;
    }
}
&__yourTitleInput:focus{
        outline: none;
        border: 1.5px solid #0095ff;
    }

// &__yourTitleInput::placeholder{
// color: red;
// }

&__yourVideoDescriptionTitle{
    color: #afafaf;
    margin: 0rem 0rem 0rem 1.5rem;
    font-size: 0.8rem;
}

&__yourVideoDetailsInput{
    padding: 0.8rem 0rem 6.2rem 0.8rem;
    margin: 0rem 0rem 2rem 1.5rem;
    border:1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0.5rem 0rem 1rem 1.5rem;
    width: 17rem;
    font-family: 'Avenir', 'Roboto', sans-serif;
    color: blue;
    font-weight: 500;
    @include tablet{
        width: 90%;
    }
    @include desktop{
        width: 36rem;
    }
}


&__yourVideoDetailsInput:focus{
    outline: none;
    border: 1.5px solid #0095ff;
}

&__buttonsContainer{
    display: flex;
    flex-direction: column;
    @include tablet{
        display: flex;
        flex-direction: row-reverse;
        width: 95%;
        border-top: 1.2px solid #e1e1e1;
        margin: 1rem 0rem 7rem 1rem;
        padding: 2rem 0rem 0rem 0rem;
    }
    @include desktop{
        width: 75.5%;
        margin: 1rem 0rem 7rem 9rem;
    }
}

&__publishButton{
    width: 18rem;
    margin: 0.5rem 0rem 0rem 1.5rem;
    height: 2.8rem;
    color: white;
    background-color: #0095FF;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    @include tablet{
        width: 10rem;
        margin: 0.7rem 0rem 0rem 0rem;
    }
}

&__cancelButton{
    width: 18rem;
    height: 2.5rem;
    color: #0095FF;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin: 1rem 0rem 0rem 1.5rem;
    // display: flex;
    // align-self: center;
    @include tablet{
        width:10rem;
        margin:0.7rem 0rem 0rem 0rem;
        padding-top: 0.3rem;
    }
}
&__cancelButton:hover{
    border: 1.2px solid #0095FF;
}
}
input:active {
    border: 1.5px solid red;
}
