@font-face {
    font-family: "Avenir";
    src: url("/Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");

}  

@font-face{
    font-family: "Roboto";
    src: url("/src/assets/_GlobalFont/Roboto/Roboto-Regular.ttf");
}